.team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15%;
    width: 550px;
    height: 88vh;
    max-width: 95%;
    background: #fff;
    padding-bottom: 10px;
}